
* {
  /* border: 0.1px solid deepskyblue; */
  line-height: 1.5em;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid rgba(211, 211, 211, 0.562);
}

body {
  font-family: Hind, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.section {
  background-color: white;
}

.header-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto; 
  max-width: 750px;
}
.header-line::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  padding: 30px;
  margin-right: auto;
}
.show-navigation-btn {
  display: block;
  display: none;

}
.btn-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.triple-dash-btn,
.triple-dash-btn::before,
.triple-dash-btn::after {
  transform-origin: left;
  content: '';
  position: absolute;
  height: 1px;
  width: 25px;
  background-color: gray;
  transition: ease-in-out 0.2s;
}

.btn-icon:hover .triple-dash-btn,
.btn-icon:hover .triple-dash-btn::before,
.btn-icon:hover .triple-dash-btn::after {
  background-color: #17bed2;
}

.triple-dash-btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
}

.triple-dash-btn::before {
  transform: translateY(-5px) scaleX(0.75);
}
.btn-icon:hover .triple-dash-btn::before {
  transform: translateY(-5px);
}

.triple-dash-btn::after {
  transform: translateY(-10px) scaleX(0.5);
}
.btn-icon:hover .triple-dash-btn::after {
  transform: translateY(-10px);
}

.header-line .show-navigation-btn:checked ~ nav {
  max-height: 300px;
}

nav {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height ease-in-out 0.2s;
}

nav ul {
  list-style: none;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bolder;
}

.nav-item {
  padding: 10px;
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  color: #515769;
}

main {
  display: flex;
  flex-direction: column;
}


.splash {
  background-image: url("../img/1920x1080/01.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.splash:before {
  content: '';
  position: absolute;
  background-color: #7f8ead38;
  z-index: -1;
  width: 100%;
  height: 700px;
}


.splash h1 {
  color: white;
  font-size: 4.2em;
  text-align: center;
  margin: 0;
  width: 4em;
  text-transform: capitalize;
}

.splash p {
  color: white;
  margin: 40px 0;
  font-size: 1.5em;
  width: 12em;
  text-align: center;
}

.btn {
  user-select: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #515769;
  background-color: white;
  text-align: center;
  width: 240px;
  padding: 16px 0;
  transition: ease-in-out 0.2s;
}

.kits .btn {
  background-color: #f3f4f5;
}

.btn:hover {
  color: white;
  background-color: #17bed2;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-transform: capitalize;
  text-align: center;
  margin-top: 80px;
  font-size: 2em;
  color: #515769;
}

.products > p {
  text-align: center;
  color: #a6a7aa;
  margin-top: 0;
  padding: 10px;
  margin-bottom: 40px;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
}

.products-cards article {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 30px;
}

.products-cards article img{
  width: 100%;
}

.products-cards article p{
  color: #afb0b4;
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 0;
  line-height: 1.5em;
}

h3 {
  color: #515769;
  margin-bottom: 0;
  font-size: 1.5em;
}
h4 {
  color: #a6a7aa;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: #7a7a7a;
}

.link:hover {
  color: #a6a7aa;
}

.product-card-link {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bolder;
}

.twophotos {
  margin-top: 120px;
}
.twophotos img {
  width: 100%;
}

.service {
  display: flex;
  background-color: #FAFAFA;  
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.service-card {
  margin: 5px;
  height: fit-content;
  display: flex;
  background-color: white;
  width: auto;
}

.card-container {
  flex-grow: 1;
  margin: 100px 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: ease-in-out 0.4s;
  padding: 40px;
}

.card-content .icon {
  width: 40px;
  color: #a6a7aa;
  transition: ease-in-out 0.4s;
}

.card-content p {
  color: #a6a7aa;
}

.service-card:hover .icon {
  opacity: 0;
}

.service-card:hover .card-content {
  transform: translateY(-20px);
}

.shaded {
  background-color: #17BED2;
}

.shaded * {
  color: white !important;
}

.seethrough {
  padding: 100px 0;
  background-color: #69769146;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seethrough::after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 10vh;
  background: url("../img/1920x1080/02.jpg") center ;
  z-index: -10;
}

.seethrough h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  margin: 0;
  width: 60%;
  text-transform: capitalize;
}

.seethrough p {
  color: rgb(230, 230, 230);
  width: 65%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}

.photos {
  height: fit-content;
}

.photos-container {
  margin: 60px 20px;
}
.photos-container img {
  width: 100%;
}

.kits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #FAFAFA;
  height: fit-content;
  padding: 100px 0;
}
.kits .service-card {
  height: fit-content;
  margin: 2px 15px;
}
.kits .service-card .card-content {
  height: fit-content;
}
.kits .service-card h3 span {
  color: #a6a7aa;
  font-size: 0.6em;
  font-weight: normal;
}
.kits .service-card .icon {
  margin-top: 0;
}
.kits .service-card:hover .card-content{
  transform: none;
}
.kits .service-card:hover .icon{
  opacity: 1;
}
.kits ul {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 40px;
}
.kits p {
  font-weight: 300;
}
.kits li {
  font-size: 0.9em;
  font-weight: 300;
  color: #afb0b4;
}

nav .dash::before {
  opacity: 0;
  transition: ease-in-out 0.2s;
}
nav .nav-item:hover .dash::before {
  opacity: 1;
}

.dash::before {
  content: '';
  display: inline-block;
  background-color: #17bed2;
  height: 2px;
  width: 10px;
  transform: translateX(-15px) translateY(-4px);
}

.kits .btn {
  width: 150px;
  font-size: 0.8em;
  margin-bottom: 40px;
}

.reviews {
  color: #afb0b4;
  padding: 25px;
  display: flex;
  padding-bottom: 100px;
}
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reviews h2 {
  margin-bottom: 0;
}
.reviews cite {
  margin-left: 40px;
  font-style: normal;
}
.reviews cite strong {
  color: #7a7a7a;
}
.reviews .quoteblock {
  display: flex;
}
.reviews blockquote {
  display: block;
  clear: left;
  margin-left: 20px;
}
.reviews .quote {
  float: left;
  font-size: 4em;
  color: #17BED2;
}

.map p {
  color: #7a7a7a;
  text-align: center;
  margin: 30px 0;
}

.links-container {
  padding: 50px 0;
  border-top: 1px solid rgba(211, 211, 211, 0.562);
  display: flex;
  flex-direction: column;
}

.links ul {
  list-style: none;
}
.links li {
  margin-bottom: 10px;
}
.links a {
  text-decoration: none;
  color: #7a7a7a;
}
.links a:hover {
  text-decoration: none;
  color: #a6a7aa;
}

footer {
  border-top: 1px solid rgba(211, 211, 211, 0.562);
  background-color: white;
  display: flex;
}
.footer-container {
  padding: 40px 15px;
}
.footer-container img {
  width: 100px;
}

@media (min-width: 550px) {
  .splash h1 {
    width: 8em;
  }
  .splash p {
    width: auto;
  }
}