nav {
    width: auto;
    max-height: none;
    margin-left: auto;
}
nav ul {
    display: flex;
}
.header-line {
    max-width: 950px;
}
.btn-icon {
    display: none;
}
.splash h1 {
    width: auto;
}

.products-cards {
    width: 950px;
}

.products > p{
    width: 550px;
}


.service .card-container {
    width: 900px;
}

@media (min-width: 1200px) {

    .header-line {
        max-width: 1100px;  
    }
    .products-cards {
        width: 1100px;
    }
    .service .card-container {
        width: 1100px;
    }
}