
* {
  border: 0.1px solid deepskyblue;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

body {
  font-family: Hind, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 3000px;
}

.header-line {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto; 
  max-width: 750px;
}
.header-line::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  padding: 30px;
}

.show-navigation-btn {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-left: auto;
}

.triple-dash-btn,
.triple-dash-btn::before,
.triple-dash-btn::after {
  transform-origin: left;
  content: '';
  position: absolute;
  height: 1px;
  width: 25px;
  background-color: gray;
  transition: linear 0.2s;
}
.show-navigation-btn:hover .triple-dash-btn,
.show-navigation-btn:hover .triple-dash-btn::before,
.show-navigation-btn:hover .triple-dash-btn::after {
  background-color: #17bed2;
}

.triple-dash-btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
}

.triple-dash-btn::before {
  transform: translateY(-5px) scaleX(0.75);
}
.show-navigation-btn:hover .triple-dash-btn::before {
  transform: translateY(-5px);
}

.triple-dash-btn::after {
  transform: translateY(-10px) scaleX(0.5);
}
.show-navigation-btn:hover .triple-dash-btn::after {
  transform: translateY(-10px);
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bolder;
}

.nav-item {
  padding: 10px;
}

.nav-item a {
  text-decoration: none;
  color: #515769;
}


.minimazed {
  height: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

.section {
}

.splash {
  background-image: url("/img/1920x1080/01.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash h1 {
  color: white;
  font-size: 4.2em;
  text-align: center;
  margin: 0;
  width: 8em;
  text-transform: capitalize;
}

.splash p {
  color: white;
  margin: 40px 0;
  font-size: 1.5em;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #515769;
  background-color: white;
  text-align: center;
  width: 240px;
  padding: 16px 0;
  transition: linear 0.2s;
}

.btn:hover {
  color: white;
  background-color: #17bed2;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-transform: capitalize;
  text-align: center;
  margin-top: 80px;
  font-size: 2em;
  color: #515769;
}

.products > p {
  text-align: center;
  color: #a6a7aa;
  margin-top: 0;
  padding: 10px;
  font-weight: 100;
  font-size: 0.9em;
} ß

.products-cards {
  display: flex;
  flex-wrap: wrap;
}

.products-cards article {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.products-cards article img{
  width: 100%;
}

.products-cards article p{
  color: #a6a7aa;
  font-weight: 100;
  font-size: 0.9em;
}

h3 {
  color: #515769;
  margin-bottom: 0;
}
h4 {
  color: #a6a7aa;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 100;
}

.link {
  text-decoration: none;
  color: #7a7a7a;
}

.link:hover {
  color: #a6a7aa;
}

.product-card-link {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bolder;
}